.breadcrumb {
  text-align: center;
}

.field-introduce{
  margin-top: 30px;
  height: auto;
  .introduce-area{
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}

.field-avter{
  margin: 30px 0 50px;
  height: auto;

}

.hidden_file{
  display: none;
}
