// 新規会員登録画面

* {
  box-sizing: border-box;
  text-decoration: none;
}


// ヘッダー
.wrapper {
  background-color:rgb(248, 246, 246);
  height: 100%;
  width: 100vw;
  font-family: “Source Sans Pro”, Helvetica, Arial, “游ゴシック体“, “YuGothic”, “メイリオ“, “Meiryo”, sans-serif;
  .header {
    height: 130px;
    display: flex;
    justify-content: center;
    .icon {
      margin-top: 40px;
    }
    .progress-bar {
      display: inline-block;
      vertical-align: top;
      padding: 40px 0 0 44px;
      border: 0;
      .clearfix {
        .active {
          color: #3CCACE;
        }
        li {
          margin-right: 10px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          color: #888;
          .progress-status {
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background-color: #ccc;
            border-radius: 50%;
            &__active {
              width: 12px;
              height: 12px;
              margin: 8px auto 0;
              border-radius: 50%;
              background-color: #3CCACE;
            }
            &__end {
              width: 12px;
              height: 12px;
              margin: 8px auto 0;
              background-color: #ccc;
              border-radius: 50%;
            }
            &::before {
              right: 53%;
              background-color: #ccc;
            }
            &::after {
              left: 55%;
              background-color: #ccc;
            }
            &::before, &::after {
              position: absolute;
              bottom: 5px;
              z-index: -1;
              content: '';
              width: 100%;
              height: 2px;
            }
          }
        }
      }
    }
  }


  // メイン
  .user-sign {
    display: block;
    &__forms {
      width: 700px;
      margin: 0 auto;
      &__title {
        font-size: 22px;
        padding: 32px;
        text-align: center;
        background-color: white;
        border-bottom: 1px solid #ccc;
        &__contents {
          padding: 40px 40px 64px;
          background-color: white;
          margin-bottom: 45px;
          &__group {
            max-width: 343px;
            margin: 0 auto;
          }
          .field {
            margin: 0;
            margin-top: 30px;
          }
            label {
              font-weight: 600;
              display: inline-block;
            }
            .form-require {
              background-color: #ea352b;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            .input-form {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            .note {
              margin: 8px 0 0;
              line-height: 1.5;
              color: #888;
            }
            p#identification {
              font-size: 16px;
              margin-top: 32px;
              font-weight: bold;
            }
            .single-text {
              margin: 8px 0 0;
              padding: 0;
              line-height: 1.5;
              color: #888;
              font-size: 14px;
            }
            input {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            select {
              padding: 0 10px;
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
            }
            .actions {
              margin-top: 32px;
              color: #fff;
              margin: 24px 0 0;
              text-align: center;
            }
            .emerald-btn {
              display: block;
              font-size: 14px;
              border-radius: 4px;
              border: 1px solid transparent;
              transition: all ease-out .3s;
              cursor: pointer;
              background: #3CCACE;
              color: #fff;
            }
          
          }
      }
    }
  }

  // フッター
  .main-product-footer{
    .main-product-footer-logo1{
      background-color:rgb(248, 246, 246);
      font-size: 12px;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      p{
        margin: 10px;
      }
    }
    .main-product-footer-logo2{
      background-color:rgb(248, 246, 246);
      padding: 20px 140px 0px 140px;
      text-align: center;
    }
    .main-product-footer-logo3{
      background-color:rgb(248, 246, 246);
      color: black;
      font-size: 12px;
      text-align: center;
      padding-bottom: 40px;
      padding-bottom: 30px;
    }
  }
}