.myheader
  = render partial: 'items/header'

.completed
  = render partial: 'mypage_items'

:css
  .left-box {
    margin-left: 150px;
  }
  .right {
    border-top: 2px solid #3CCACE;
  }

.myfooter
  = render partial: 'items/footer'