.myheader
  = render partial: 'items/header'

.listing
  = render partial: 'mypage_items'
:css
  .left {
    border-top: 2px solid #3CCACE;
  }
  .left-box {
    margin-left: 150px;
  }

.myfooter
  = render partial: 'items/footer'