.delete {
  .delete-comment {
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: bold;
    background-color: #ccc;
    border-radius: 4px;
    height: 48px;
    width: 280px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
  }
}