body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
header {
  padding: 0 60px;
  .header-inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding-top: 15px;
      &__main{
        position: relative;
        display: flex;
        align-items: center;
        &__icon {
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
          a {
            width: 140px;
            display: block;
            img {
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
        &__box {
          margin-left: auto;
          width: 100%;
          form {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            .seach-box-input {
              width: calc(100% - 26px);
              height: 36px;
              padding: 0 0 0 5px;
            }
            button {
              width: 36px;
              border: 0;
              cursor: pointer;
              background-color: #3CCACE;
              padding: 8px;
              .search-icon {
                margin: 0;
                padding: 0;
                img {
                  width: 100%;
                  vertical-align: bottom;
                }
              }
            }
          }
        }
      }
      &__nav {
        display: flex;
        font-size: 14px;
        margin-bottom: 10px;
        
        .lists-left {
          display: flex;
          position: relative;
          text-decoration: none;
          &__first {
            text-decoration: none;
            padding: 0;
          }
          &__list {
            display: flex;
            line-height: 38px;
            padding: 0 16px 0 0;
            a {
              color: #333;
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 18px;
              padding-right: 30px;
            }
          }
        }
        .lists-right {
          margin-left: auto;
          display: flex;
          &__list {
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
            list-style: none;
            a {
              align-items: center;
              color: #333;
              text-decoration: none;
              line-height: 32px;
              margin-right: 10px;
            }
          }
        }
      }
  }
}

.main {
  margin: 0;
  .top-visual {
    background-image: image-url('pict/bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 560px;
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    position: relative;
    &__content {
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      max-width: 1280px;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        .abtn {
          margin-right: 10px;
          img {
            width: 180px;
            vertical-align: bottom;
          }
        }
      }
    }
  }
  .introduction {
    padding: 60px 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__title::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &__list {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      
      li{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-pick {
          position: relative;
          margin-bottom: 20px;
          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        .list-text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        .list-sub {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .middle {
    background-image: image-url('pict/bg-topMiddleDl-pict.jpg');
    background-size: cover;
    background-position: bottom right;
    height: 400px;
    display: flex;
    align-items: center;
      &__content {
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        text-align: left;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        &__title {
          font-size: 27px;
          font-weight: bold;
          line-height: 1.4;
        }
        &__text {
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5;
        }
        &__btn {
          display: flex;
          .abtn {
            margin-right: 10px;
            img {
              width: 180px;
            }
          }
        }
      }
  }
  .key-features {
    padding: 60px 100px;
    &__title {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__title::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
  
    }
    &__items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__title {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__text {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .pickup {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box {
      margin: 0;
      padding: 0;
      &__head {
        text-align: center;
        a {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          .subtitle {
            font-weight: bold;
          }
        }
      }
      &__lists {
        width: 900px;
        margin: 26px auto;
        display: flex;
        overflow-x: scroll;
        &__list {
          width: 220px;
          display: inline-block;
          float: left;
          position: relative;
          a {
            background-color: #fff;
            display: inline-block;
            .list__img{
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .list__body {
              background-color: white;
              color: #333;
              padding: 16px;
              &__name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__price {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  i {
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                  i::before {
                    content: "\f005";
                  }
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
          .items-box_photo__sold {
            width: 220px;
            height: 150px;
            border: 60px solid #ea352d ;
            background-color: #ea352d;
            display: flex;
            align-items: center;
            z-index:100;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.6;
            &__inner {
              transform: rotate(-40deg);
              font-size: 28px;
              text-align: center;
              color: #fff;
              letter-spacing: 2px;
              font-weight: 600;
              a{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .pickup.child {
    padding-bottom: 80px;
  }
}

aside {
  background-image: image-url('pict/bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .abtn {
        margin-right: 10px;
        img {
          width: 180px;
        }
      }
    }
  }
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 12px;
          line-height: 32px;
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
  p{
    font-size: 14px;
  }
}
a{
  // box-sizing: border-box;
  .pur-btn {
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    img {
      width: 60px;
      vertical-align: bottom;
    }
  }
}
