.main-product{
  background-color:white;
  font-size: 14px;
  // box-sizing: border-box;
  // width: 100vh; 

  .main-product-header{
    text-align: center;
    .main-product-header-logo{
      background-color:rgb(248, 246, 246);
      height: 150px;
      padding: 40px 140px 40px 140px;
    }
  }
}
