body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
.mains {
  display: flex;
  height: 100%;
  background-color:rgb(248, 246, 246);
  .left-box{
    width: 300px;
    height: 100%;
    padding: 20px 40px 0 60px;
    display: flex;
    flex-direction: column;
    .my-plof{
       p{text-align: center;
       margin-bottom: 15px;
       }
      width: 200px;
      height: 200px;
      .left-list{
        padding: 15px 0px 20px 15px;
        background-color: white;
        border: solid 1px rgb(248, 246, 246);
        font-size: 14px;
      }
    }
    .my-business{
      p{
        text-align: center;
        margin-bottom: 15px;
        }
      width: 200px;
      height: 600px;
      display: flex;
      flex-direction: column;
      .left-list{
        padding: 20px 0px 20px 20px;
        background-color: white;
        border: solid 1px rgb(248, 246, 246);
        font-size: 14px;
      }
    }
  }
  .mypage-box{
    width: calc(100vw - 300px);
    height: 100%;
    padding: 20px 40px 0 0;
    p{
      width: auto;
      text-align: center;
      margin-bottom: 15px;
    }
    &__profile{
      width: auto;
      height: auto;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 20px 50px;
      border-bottom: solid 1px rgb(248, 246, 246);
      p{
        width: auto;
        height: 20px;
        text-align: center;
        margin-bottom: 30px;
        font-size: 18px;        
      }
      .upper{
        .myprofile-nickname{
          text-align: center;
          margin-bottom: 10px;
        }
        .myprofile-avter{
          width: auto;
          height: 150px;
          text-align: center;
          margin-bottom: 15px;
          img{
            width: auto;
            height: 150px;
          }
        }
      }
    }
    &__details{
      width: auto;
      height: auto;
      background-color: white;
      padding: 20px 50px 20px 60px;
      margin-bottom: 30px;
      .link_edit{
        height: 50px;
        width: 150px;
        background-color: #3CCACE;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        margin: 50px auto 0 auto;
        text-align: center;
        padding: 15px;
        a{
          color: white;
        }
      }
    }   
    &__identification{
      width: auto;
      height: auto;
      background-color: white;
      padding: 20px;
      padding-left: 60px;
      margin-bottom: 30px;     
      p{
        width: auto;
        height: 20px;
        text-align: center;
        margin-bottom: 30px;
        font-size: 18px;
      }
      .link_edit{
        height: 50px;
        width: 150px;
        background-color: #3CCACE;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        font-size: 14px;
        margin: 50px auto 0 auto;
        text-align: center;
        padding: 15px;
        a{
          color: white;
        }
      }
    }
  }
}
aside {
  background-image: image-url('pict/bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .abtn {
        margin-right: 10px;
        img {
          width: 180px;
        }
      }
    }
  }
}
a{
  .pur-btn {
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    img {
      width: 60px;
      vertical-align: bottom;
    }
  }
}
a {
  text-decoration: none;
  color:#000; 
}