
.main-product-footer-logo1
  %p プライバシーポリシー
  %p フリマ利用規約
  %p 特定商取引に関する表記
.main-product-footer-logo2
  = link_to image_tag(asset_path('logo/logo-white.png'), alt: 'text', height: '40', width: '140', class: 'icon'), root_path
.main-product-footer-logo3
  %p © FURIMA,Inc.