.main-product
  .main-product-header
    .main-product-header-logo
      -# = link_to image_tag('/assets/logo/logo.png', alt: 'text', height: '60', width: '200', class: 'icon'), root_path
      = link_to image_tag(asset_path("logo/logo.png"), alt: 'text', height: '60', width: '200', class: 'icon'), root_path

